.header {
  grid-area: h;
  display: flex;
  border-radius: 5px;
  padding-left:5px;

  background-color: rgba(29, 29, 29, 0.81);
}

.header img {
width:50px;
  padding:3px;
  border-radius: 4px;
}
.h1 {
  color: white;
  margin-left: 33%;
  margin-top: 3px;
  font-family: fantasy;
  font-size: 50px;

}

