.header {
  grid-area: h;
  display: flex;
  justify-content: space-between;
;
  border-radius: 5px;
  padding-left:5px;

  background-color: rgba(29, 29, 29, 0.81);
}

.header img {
  width: 70px;
  padding:3px;
  border-radius: 4px;
}
.h1 {
  color:white;
  margin-left: 3px;
  margin-top: 3px;
  font-family: fantasy;
  font-size: 50px;

}

.loginBlock {
margin-top: 15px;


}

.loginBlock a {
  text-decoration: none;
  color: white;
  padding-right: 15px;

}

.loginBlock h3 {
  font-size: 25px;
  font-family: "Yu Gothic";
  color: white;
  padding-right: 15px;

}
