.app-wrapper {
  display: grid;

  grid-template-areas: 
  "h h" 
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr ;
  grid-gap: 10px;

  width: 70%;
  margin-left:15% ;
  margin-top:10px;
  margin-bottom: 5%;

  background-color: rgb(181, 248, 241);
  padding:10px;
}

.app-wrapper-content {
  grid-area: c;

  padding:  20px 20px;


  background-color:rgb(170, 165, 165);

  display: block;
  width: 90%;
  border-radius: 5px;

  height: auto;
}






