.app-wrapper {
  display: grid;


  grid-template-areas: 
  "h h" 
  "n c";

  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr ;
  grid-gap: 10px;

  width: 70%;
  margin-left:15% ;
  margin-top:10px;
  margin-bottom: 5%;

  background-color: rgba(181, 248, 241, 0);

  padding:10px;
}

.app-wrapper-content {
  grid-area: c;
  height: 100vh;
  /*overflow: hidden;*/

  padding:  20px 20px;


  background-color: rgba(138, 128, 128, 0.7);

  display: block;

  width: 90%;
  border-radius: 5px;

  height: auto;
}






