.app-wrapper {
  display: grid;

  grid-template-areas: 
  "h h" 
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

  width: 80%;
  margin-left:10% ;
  margin-top:10px;
  margin-bottom: 5%;

  background-color:rgb(245, 247, 248)
}

.app-wrapper-content {
  grid-area: c;

  padding:  0 50px;


  background-color:rgb(170, 165, 165);

  display: block;
  border-radius: 5px;

  height: auto;
}






