.dialogs{
    display: grid;
    grid-template-columns: 4fr 10fr;
}

.dialogsItems{
    display: block;
    border-right: 2px solid black;

    background-color: rgba(12, 12, 12, 0.3);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding:10px;
}

.messages{
     padding-left: 15px;
     background-color: rgba(26, 163, 189, 0.67);

     border-bottom-right-radius: 10px;
     border-top-right-radius: 10px;
 }

